streamlit
langchain
langchain-openai
langchain-community
python-dotenv
chromadb
pypdf
yfinance
tiktoken
beautifulsoup4
requests
firebase-admin
Pyrebase4
setuptools
urllib3==1.26.15
requests-toolbelt==0.9.1